.open-jobs-container {
  display: flex;
  flex-direction: column;

  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;

  h3 {
    color: #1d2b4f;
  }

  .card-contaianer {
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .ant-pagination {
      .ant-pagination-item-active {
        border-color: #6b65de;

        a {
          color: #6b65de;
        }
      }

      .ant-pagination-item:hover {
        border-color: #6b65de;

        a {
          color: #6b65de;
        }
      }

      .ant-pagination-next:hover .ant-pagination-item-link,
      .ant-pagination-prev:hover .ant-pagination-item-link {
        border-color: #6b65de;
        color: #6b65de;
      }
    }
  }
}
